:root {
  --primary-color: #456990;
  --secondary-color: #e2e2e2;
  --tertiary-color: #b7cece;
  --font: "Pacifico", cursive, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
#logo {
  width: auto;
  height: 4rem;
  margin-left: 45%;
}
header {
  background-color: #456990;
  height: 7rem;
}

#rechercheBarre {
  background-color: #e2e2e2;
  margin: 0;
  display: flex;
}
#montri {
  margin-top: 1rem;
  margin-left: 2rem;
}
#tri {
  text-align: center;
  display: contents;
}
/*barre de recherche*/

input[type="search"] {
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e5;
  font-size: 1rem;
  width: 100%;
  line-height: 2;
  padding: 0.375rem 1.25rem;

  transition: border-color 0.2s;
}

input[type="search"]:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #f9d442b9;
  border-color: #f9d342;
  outline: none;
}

form.search-form {
  display: flex;
  justify-content: center;
}

label {
  margin-bottom: 0;
  width: 9rem;
}

input.search-field {
  margin-bottom: 0;
  height: 51px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input.search-submit {
  height: 51px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#buttonSearch {
  display: inline-block;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #f9d342;
  color: #292826;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  transition: all 0.2s;
}

#buttonSearch:hover,
#buttonSearch:active,
#buttonSearch:focus {
  cursor: pointer;
  background: #d4b743;
  color: #292826;
  outline: 0;
}
/* ******************** burger menu ******************** */

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: rgb(197, 73, 73);
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--secondary-color);
  color: white;
  list-style: none;
  padding-top: 4rem;
  width: 15rem;
  height: 20rem;
}

.showMenu {
  transform: translateY(0);
}

.profil {
  background-color: var(--tertiary-color);
  width: 200px;
  height: 300px;
  border: solid 1px;
  border-radius: 5px;
}

#profil-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
}

.profil-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px;
  color: black;
}

.profil-li {
  height: 2.5rem;
  background-color: var(--secondary-color);
  color: aliceblue;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
li {
  box-sizing: border-box;
  padding-top: 0.5rem;
}

.profil-a {
  justify-content: center;
  display: flex;
  color: black;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
  margin-left: 0.5rem;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: var(--font);
}

.bon_plan {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#bon_plan {
  background-color: var(--secondary-color);
  margin: 0.5rem;
  border-radius: 0.5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

main img {
  margin: 3%;
  align-items: center;
  border-radius: 0.5rem;
}

.bon_plan_article {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0.5rem;
}

.category {
  display: flex;
  flex-direction: column;
}

h3 {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 2%;
  margin: 0.5rem;
  align-self: flex-start;
  max-width: auto;
}

.category_div {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  justify-content: space-between;
}

.category_section {
  background-color: var(--secondary-color);
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 46%;
  justify-content: space-between;
}

.category_article {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0.5rem;
  align-self: flex-end;
}

button {
  font-size: 0.5rem;
  padding: 10px 0.4rem;
  border-radius: 50px;
  border: 0;
  background-color: var(--primary-color);
  color: whitesmoke;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  align-self: self-end;
}

button:hover {
  letter-spacing: 3px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: var(--primary-color) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* début menu burger filtre */

.filtre {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 450px;
  background-color: var(--tertiary-color);
  justify-content: space-around;
  border: solid 1px;
  border-radius: 5px;
  padding-left: 5px;
}

.rate {
  display: flex;
  height: 20px;
}

.rate p {
  padding: 0 20px 0 0;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.distance {
  display: flex;
  flex-wrap: wrap;
}

.distance input {
  vertical-align: middle;
  width: 125px;
}

.distance p {
  padding: 0;
}

datalist {
  display: grid;
  grid-template-columns: 65px 28px 27px 23px 27px 27px;
}

datalist p {
  margin: 0;
}

#prix p {
  padding-right: 30px;
}
/* CSS filtre note */

.rate:not(:checked) > input {
  display: none;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: whitesmoke;
  transform: translate(0, -15px);
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #fac60a;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #e0b722;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c6a017;
}

/* CSS filtre euro  */

#prix:not(:checked) > label:before {
  content: "€ ";
}

.filtre button {
  width: 75px;
  align-self: end;
  margin-right: 20px;
}

.checkbox_restaurant_hide {
  display: none;
}

.restaurant_hide {
  display: none;
}

/* fin menu burger filtre */

/* début footer style */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e2;
  align-items: center;
  padding: 0 10px;
  border-top: solid 1px;
}

footer img {
  width: 50px;
}

footer ul {
  margin: auto 0;
}

footer ul li {
  list-style: none;
}
