:root {
    --primary-color:#456990;
    --secondary-color:#e2e2e2;
    --tertiary-color: #b7cece;
    --title-font-font family: font-family: 'Pacifico', cursive, sans-serif;
    --font-font font-family: 'Pacifico', cursive,sans-serif;
}


body{
    background-color: var(--tertiary-color);
}
h1 {
    border-bottom: solid 1px;
    text-align: center;
}
.checkbox{
    height: 2rem;
}
.add-rest-div{
    text-align: right;
    padding-bottom: 1rem;
}
form{
    height: 2rem;
}
.other{
height: 2rem;
}
.add-rest{
    border-radius: 5px;
    border-color: #456990;
    background-color:var(--secondary-color)
}
.add-rest:hover {
    background-color: var(--tertiary-color) ;
}
footer {
   bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #e2e2e2;
    align-items: center;
    padding: 0 10px;
    border-top: solid 1px;
  }