:root {
  --primary-color: linear-gradient(to top, #f0cb35, #c02425);
  --secondary-color: hsla(48, 74%, 51%, 0.899);
  --tertiary-color: #e65c00;
  --font: "dongle", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
#logo {
  width: auto;
  height: 4rem;
  margin-left: 45%;
}
header {
  background-color: #456990;
  height: 7rem;
}

#rechercheBarre {
  background-color: #e2e2e2;
  margin: 0;
  display: flex;
}
#montri {
  margin-top: 1rem;
  margin-left: 2rem;
}
#tri {
  text-align: center;
  display: contents;
}
/*barre de recherche*/

input[type="search"] {
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e5;
  font-size: 1rem;
  width: 100%;
  line-height: 2;
  padding: 0.375rem 1.25rem;

  transition: border-color 0.2s;
}

input[type="search"]:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #f9d442b9;
  border-color: #f9d342;
  outline: none;
}

form.search-form {
  display: flex;
  justify-content: center;
}

label {
  margin-bottom: 0;
  width: 9rem;
}

input.search-field {
  margin-bottom: 0;
  height: 51px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input.search-submit {
  height: 51px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#buttonSearch {
  display: inline-block;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #f9d342;
  color: #292826;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#buttonSearch:hover,
#buttonSearch:active,
#buttonSearch:focus {
  cursor: pointer;
  background: #d4b743;
  color: #292826;
  outline: 0;
}
/* ******************** NAV BAR ******************** */
.topnav {
  background-color: #456990;
  display: flex;
  align-items: center;
  width: 100%;
}
.topnav_link {
  color: white;
  padding: 12px;
  text-decoration: none;
}
.topnav_link:hover {
  color: #0078b4;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    min-width: 50vw;
    height: auto;
    padding: 56px 0 0;

    text-align: center;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #333;
    text-decoration: none;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: #ededed;
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #333;
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.profil {
  background-color: var(--tertiary-color);
  width: 200px;
  height: 300px;
  border: solid 1px;
  border-radius: 5px;
}

.profil-h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px;
}

.profil-img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: var(--secondary-color);
  display: block;
  margin-bottom: 1rem;
}

nav {
  height: 225px;
}

.profil-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.profil-li {
  height: 2.5rem;
  background-color: var(--secondary-color);
  width: 80%;
}
li {
  box-sizing: border-box;
  padding-top: 0.5rem;
}

.profil-a {
  text-align: center;
  display: block;
  color: black;
  width: 100%;
  height: 100%;
}

body {
  background: var(--tertiary-color);
  margin: 0;
  font-family: var(--font);
}

.bon_plan {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#bon_plan {
  background-color: var(--secondary-color);
  margin: 0.5rem;
  border-radius: 0.5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

main img {
  margin: 3%;
  align-items: center;
  border-radius: 0.5rem;
  max-width: 93%;
}

#bon_plan_img {
  display: flex;
  flex-direction: row;
}

#bon_plan2,
#bon_plan3 {
  display: none;
}

.bon_plan_img:nth-child(2),
.bon_plan_img:nth-child(3) {
  display: none;
}

.bon_plan_article {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0.5rem;
}

.hidden_paragraph {
  display: none;
}

.category {
  display: flex;
  flex-direction: column;
}

h3 {
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
  padding: 2%;
  margin: 0.5rem;
  align-self: flex-start;
  max-width: auto;
}

.category_div {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  justify-content: space-between;
}

.category_section {
  background-color: var(--secondary-color);
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 46%;
  justify-content: space-between;
}

.category_article {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0.5rem;
  align-self: flex-end;
}

button {
  font-size: 0.5rem;
  margin-right: 20px;
  padding: 10px 0.4rem;
  border-radius: 50px;
  border: 0;
  background-color: var(--primary-color);
  color: #e4dfda;
  box-shadow: rgb(0 0 0 / 40%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  align-self: self-end;
}

button:hover {
  letter-spacing: 3px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: var(--primary-color) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* début menu burger filtre */

.filtre {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 450px;
  background-color: var(--tertiary-color);
  justify-content: space-around;
  border: solid 1px;
  border-radius: 5px;
  padding-left: 5px;
}

.rate {
  display: flex;
  height: 20px;
}

.rate p {
  padding: 0 20px 0 0;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.distance {
  display: flex;
  flex-wrap: wrap;
}

.distance input {
  vertical-align: middle;
  width: 100px;
}

#distance_label {
  width: 85px;
}

.label_filter {
  width: 100px;
}

.distance p {
  padding: 0;
}

datalist {
  display: grid;
  grid-template-columns: 89px 20px 22px 19px 21px 27px;
}

datalist p {
  margin: 0;
}

#prix p {
  padding-right: 30px;
}
/* CSS filtre note */

.rate:not(:checked) > input {
  display: none;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: whitesmoke;
  transform: translate(0, -15px);
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #fac60a;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #e0b722;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c6a017;
}

/* CSS filtre euro  */

#prix:not(:checked) > label:before {
  content: "€ ";
}

.filtre button {
  width: 75px;
  align-self: end;
  margin-right: 20px;
}

.checkbox_restaurant_hide {
  display: none;
}

.restaurant_hide {
  display: none;
}

/* fin menu burger filtre */

/* début footer style */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e2;
  align-items: center;
  padding: 0 10px;
  border-top: solid 1px;
}

footer img {
  width: 50px;
}

footer ul {
  margin: auto 0;
}

footer ul li {
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #bon_plan_img {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .bon_plan_img:nth-child(2) {
    display: block;
  }

  .category_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .category_section img {
    max-width: 55;
    max-height: 100%;
    align-items: center;
  }

  .category_article {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 1.6rem;
    padding: 0.5rem;
  }

  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  #bon_plan_img {
    display: flex;
    flex-direction: row;
    max-width: 33.3%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .bon_plan_img:nth-child(2),
  .bon_plan_img:nth-child(3) {
    display: block;
  }

  .bon_plan_article button {
    display: none;
  }

  .category_div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .category_section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .category_section img {
    max-width: 55%;
    max-height: 70%;
    align-items: center;
  }

  .category_article {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  h3 {
    font-size: 1.6rem;
    padding: 0.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  .hidden_paragraph {
    display: inline;
  }
}
