:root {
  --primary-color: #456990;
  --secondary-color: #e2e2e2;
  --tertiary-color: #b7cece;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bon_plan {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#bon_plan {
  background-color: var(--secondary-color);
  margin: 0.5rem;
  border-radius: 0.5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

main img {
  margin: 3%;
  align-items: center;
  border-radius: 0.5rem;
}

/* .bon_plan_img {
  margin: 2%;
  align-items: center;
  border-radius: 0.5rem;
} */

.bon_plan_article {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0.5rem;
}

.category {
  display: flex;
  flex-direction: column;
}

h3 {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: 2%;
  margin: 0.5rem;
  align-self: flex-start;
  max-width: auto;
}

.category_div {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  justify-content: space-between;
}

.category_section {
  background-color: var(--secondary-color);
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 46%;
  justify-content: space-between;
}

.category_article {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

section img {
  height: 40%;
}

.button {
  margin: 0.5rem;
  align-self: flex-end;
}

button {
  font-size: 0.5rem;
  padding: 10px 0.4rem;
  border-radius: 50px;
  border: 0;
  background-color: var(--primary-color);
  color: whitesmoke;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  align-self: self-end;
}

button:hover {
  letter-spacing: 3px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: var(--primary-color) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* début menu burger filtre */

.filtre {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  background-color: var(--tertiary-color);
  justify-content: space-around;
  border: solid 1px;
  border-radius: 5px;
  padding-left: 5px;
}

.rate {
  display: flex;
  height: 20px;
}

.rate p {
  padding-right: 20px;
  display: inline-block;
  margin-top: 0;
}

.checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#prix p {
  padding-right: 30px;
}
/* CSS filtre note */

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: whitesmoke;
  transform: translate(0, -15px);
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #fac60a;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #e0b722;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c6a017;
}

/* CSS filtre euro  */

#prix:not(:checked) > label:before {
  content: "€ ";
}

/* fin menu burger filtre */

footer {
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e2;
  align-items: center;
  padding: 0 10px;
  border-top: solid 1px;
}
